[Unit]
Description=TV Box IoT Gateway
After=network-online.target mosquitto.service
Wants=network-online.target

[Service]
Type=simple
User=carapreta
WorkingDirectory=/home/carapreta/Desktop/projeto_iot/tvbox_gateway
EnvironmentFile=/home/carapreta/Desktop/projeto_iot/tvbox_gateway/gateway.env
ExecStart=/usr/bin/python3 -m gateway.main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
